DJANGO_SECRET_KEY=replace-with-long-random-secret-key
DJANGO_DEBUG=False
DATABASE_URL=sqlite:///spotter_routing.sqlite3
NOMINATIM_URL=https://nominatim.openstreetmap.org
OSRM_URL=http://router.project-osrm.org
NOMINATIM_USER_AGENT=spotter-backend-assessment-local-dev
NOMINATIM_TIMEOUT_SECONDS=10
ORIGIN_CATCHMENT_RADIUS_MILES=5
CORRIDOR_WIDTH_MILES=25
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
